/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'ColfaxWebThin';
  src: url("../webfonts/ColfaxWebThin.eot");
  src: url("../webfonts/ColfaxWebThin.eot?#iefix") format("embedded-opentype"), url("../webfonts/ColfaxWebThin.woff") format("woff"); }

@font-face {
  font-family: 'ColfaxWebRegular';
  src: url("../webfonts/ColfaxWebRegular.eot");
  src: url("../webfonts/ColfaxWebRegular.eot?#iefix") format("embedded-opentype"), url("../webfonts/ColfaxWebRegular.woff") format("woff"); }

@font-face {
  font-family: 'ColfaxWebBold';
  src: url("../webfonts/ColfaxWebBold.eot");
  src: url("../webfonts/ColfaxWebBold.eot?#iefix") format("embedded-opentype"), url("../webfonts/ColfaxWebBold.woff") format("woff"); }

body, html {
  height: 100%;
  position: relative;
  font-family: "ColfaxWebRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #02203c;
  background-color: #e0e4e8;
  -webkit-font-smoothing: antialiased; }

p, a {
  color: #99a5b0; }

a:hover {
  color: #02203c; }

.logo-area {
  width: 100%; }
  @media (min-width: 760px) {
    .logo-area {
      position: fixed;
      height: 100%;
      width: 33.28125%;
      float: left; } }

.logo-bg {
  width: 33.28125%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }

@media (min-width: 760px) {
  .about-bg {
    background: url(../images/sea-2.jpg) left bottom;
    background-size: cover; } }

@media (min-width: 760px) {
  .mfk-bg {
    background: url(../images/MFK-2.jpg) left bottom;
    background-size: cover; } }

@media (min-width: 760px) {
  .awol-bg {
    background: url(../images/awol-2.jpg) center bottom;
    background-size: cover; } }

@media (min-width: 760px) {
  .penny-bg {
    background: url(../images/Penny-Dreadful-2.jpg) center top;
    background-size: cover; } }

@media (min-width: 760px) {
  .stick-bg {
    background: url(../images/Stick-and-Chub-2.jpg) right top;
    background-size: cover; } }

.logo {
  padding: 0;
  z-index: 1000; }
  .logo .logo-flag-navy, .logo .logo-flag-white {
    width: 80%;
    margin: 40px 0;
    padding: 0 10%; }
  @media (min-width: 760px) {
    .logo .logo-flag-navy, .logo .logo-flag-white {
      position: absolute;
      margin: 187px 0 0 0;
      width: 80%;
      padding: 0 10%; } }

.logo-flag-white {
  display: none; }
  @media (min-width: 760px) {
    .logo-flag-white {
      display: block;
      z-index: 1000;
      opacity: 0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out; } }

.site-body {
  width: 80%;
  padding: 0 10%;
  background-color: #fff; }
  .site-body img {
    width: 100%; }
  @media (min-width: 760px) {
    .site-body {
      width: 54.21875%;
      padding: 0 6.25%;
      float: right; } }

nav {
  font-family: "ColfaxWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 8px; }
  nav li {
    padding: 16px 0; }
  nav a {
    color: #02203c;
    text-decoration: none; }
    nav a:hover {
      padding-bottom: 6px;
      border-bottom: 1px solid #99a5b0; }
  @media (min-width: 760px) {
    nav {
      font-size: 14px;
      margin-top: 80px; }
      nav li {
        float: left;
        padding: 0 18px 0 0; } }
  @media (min-width: 1000px) {
    nav li {
      padding: 0 34px 0 0; } }

.social-links {
  font-size: 24px; }
  .social-links li {
    padding: 16px 16px 16px 0;
    float: left; }
  .social-links a {
    color: #99a5b0; }
    .social-links a:hover {
      color: #02203c; }
  @media (min-width: 760px) {
    .social-links {
      font-size: 18px;
      position: absolute;
      top: 62px;
      right: 3%; } }

.main-section section {
  margin-bottom: 80px; }
.main-section h3 {
  font-family: "ColfaxWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 40px 0;
  margin-top: 80px;
  border-top: 4px solid #02203c; }
.main-section h4 {
  font-family: "ColfaxWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 12px; }
.main-section p {
  margin-top: 14px; }
@media (min-width: 760px) {
  .main-section section p, .main-section section h4 {
    width: 88.472622%; }
  .main-section p, .main-section a {
    font-size: 20px; } }

.wheelhouse-intro {
  clear: both;
  border-top: 4px solid #02203c;
  padding: 30px 0;
  -webkit-font-smoothing: subpixel-antialiased; }
  .wheelhouse-intro h2 {
    font-family: "ColfaxWebThin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px; }
  .wheelhouse-intro .announcement {
    color: #99a5b0;
    font-size: 14px; }
  .wheelhouse-intro p {
    margin-bottom: 18px; }
  .wheelhouse-intro a {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid #99a5b0; }
  @media (min-width: 760px) {
    .wheelhouse-intro {
      border: none;
      padding: 70px 0; }
      .wheelhouse-intro h2 {
        font-size: 39px; }
      .wheelhouse-intro .announcement p, .wheelhouse-intro .announcement a {
        font-size: 16px;
        width: 53.161593%;
        margin-top: 60px; } }
  @media (min-width: 1060px) {
    .wheelhouse-intro h2 {
      font-size: 48px; } }

.dogfish {
  padding: 40px 0;
  margin-top: 80px;
  border-top: 4px solid #02203c; }
  .dogfish img {
    width: 50%; }
  @media (min-width: 760px) {
    .dogfish {
      padding: 40px 0 30px 0; }
      .dogfish img {
        width: 25%; } }

.show {
  opacity: 1; }
