@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-regular.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSSocialRegular";
  src: url("ss-social-regular.eot");
  src: url("ss-social-regular.eot?#iefix") format("embedded-opentype"), url("ss-social-regular.woff") format("woff"), url("ss-social-regular.ttf") format("truetype"), url("ss-social-regular.svg#SSSocialRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"] {
  -ms-zoom: 1; }

.ss-icon, .ss-icon.ss-social-regular,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, [class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, [class*=" ss-"].ss-social-regular.right:after {
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased; }

[class^="ss-"].right:before,
[class*=" ss-"].right:before {
  display: none;
  content: ''; }

.ss-facebook:before, .ss-facebook.right:after {
  content: ''; }

.ss-twitter:before, .ss-twitter.right:after {
  content: ''; }

.ss-linkedin:before, .ss-linkedin.right:after {
  content: ''; }

.ss-googleplus:before, .ss-googleplus.right:after {
  content: ''; }

.ss-appdotnet:before, .ss-appdotnet.right:after {
  content: ''; }

.ss-zerply:before, .ss-zerply.right:after {
  content: ''; }

.ss-reddit:before, .ss-reddit.right:after {
  content: ''; }

.ss-steam:before, .ss-steam.right:after {
  content: ''; }

.ss-tumblr:before, .ss-tumblr.right:after {
  content: ''; }

.ss-wordpress:before, .ss-wordpress.right:after {
  content: ''; }

.ss-blogger:before, .ss-blogger.right:after {
  content: ''; }

.ss-posterous:before, .ss-posterous.right:after {
  content: ''; }

.ss-quora:before, .ss-quora.right:after {
  content: ''; }

.ss-youtube:before, .ss-youtube.right:after {
  content: ''; }

.ss-vimeo:before, .ss-vimeo.right:after {
  content: ''; }

.ss-vine:before, .ss-vine.right:after {
  content: ''; }

.ss-letterboxd:before, .ss-letterboxd.right:after {
  content: ''; }

.ss-flickr:before, .ss-flickr.right:after {
  content: ''; }

.ss-instagram:before, .ss-instagram.right:after {
  content: ''; }

.ss-500px:before, .ss-500px.right:after {
  content: ''; }

.ss-etsy:before, .ss-etsy.right:after {
  content: ''; }

.ss-pinterest:before, .ss-pinterest.right:after {
  content: ''; }

.ss-svpply:before, .ss-svpply.right:after {
  content: ''; }

.ss-readmill:before, .ss-readmill.right:after {
  content: ''; }

.ss-dropbox:before, .ss-dropbox.right:after {
  content: ''; }

.ss-pinboard:before, .ss-pinboard.right:after {
  content: ''; }

.ss-delicious:before, .ss-delicious.right:after {
  content: ''; }

.ss-dribbble:before, .ss-dribbble.right:after {
  content: ''; }

.ss-behance:before, .ss-behance.right:after {
  content: ''; }

.ss-github:before, .ss-github.right:after {
  content: ''; }

.ss-octocat:before, .ss-octocat.right:after {
  content: ''; }

.ss-stackoverflow:before, .ss-stackoverflow.right:after {
  content: ''; }

.ss-paypal:before, .ss-paypal.right:after {
  content: ''; }

.ss-kickstarter:before, .ss-kickstarter.right:after {
  content: ''; }

.ss-foursquare:before, .ss-foursquare.right:after {
  content: ''; }

.ss-yelp:before, .ss-yelp.right:after {
  content: ''; }

.ss-skype:before, .ss-skype.right:after {
  content: ''; }

.ss-rdio:before, .ss-rdio.right:after {
  content: ''; }

.ss-spotify:before, .ss-spotify.right:after {
  content: ''; }

.ss-lastfm:before, .ss-lastfm.right:after {
  content: ''; }

.ss-soundcloud:before, .ss-soundcloud.right:after {
  content: ''; }

.ss-link:before, .ss-link.right:after {
  content: '🔗'; }

.ss-phone:before, .ss-phone.right:after {
  content: '📞'; }

.ss-mail:before, .ss-mail.right:after {
  content: '✉'; }

.ss-like:before, .ss-like.right:after {
  content: '👍'; }

.ss-rss:before, .ss-rss.right:after {
  content: ''; }

.ss-share:before, .ss-share.right:after {
  content: ''; }

.ss-apple:before, .ss-apple.right:after {
  content: ''; }

.ss-microsoft:before, .ss-microsoft.right:after {
  content: ''; }

.ss-windows:before, .ss-windows.right:after {
  content: ''; }

.ss-android:before, .ss-android.right:after {
  content: ''; }

.ss-blackberry:before, .ss-blackberry.right:after {
  content: ''; }

/* Legacy */
.ss-fivehundredpx:before, .ss-fivehundredpx.right:after {
  content: ''; }

@font-face {
  font-family: 'ColfaxWebThin';
  src: url("../webfonts/ColfaxWebThin.eot");
  src: url("../webfonts/ColfaxWebThin.eot?#iefix") format("embedded-opentype"), url("../webfonts/ColfaxWebThin.woff") format("woff"); }

@font-face {
  font-family: 'ColfaxWebRegular';
  src: url("../webfonts/ColfaxWebRegular.eot");
  src: url("../webfonts/ColfaxWebRegular.eot?#iefix") format("embedded-opentype"), url("../webfonts/ColfaxWebRegular.woff") format("woff"); }

@font-face {
  font-family: 'ColfaxWebBold';
  src: url("../webfonts/ColfaxWebBold.eot");
  src: url("../webfonts/ColfaxWebBold.eot?#iefix") format("embedded-opentype"), url("../webfonts/ColfaxWebBold.woff") format("woff"); }

body, html {
  position: relative;
  font-family: "ColfaxWebRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #02203c;
  background-color: #e0e4e8;
  -webkit-font-smoothing: antialiased; }

p, a {
  color: #99a5b0; }

a:hover {
  color: #02203c; }

.logo {
  width: 80%;
  background-color: #e0e4e8;
  padding: 0 10%; }
  .logo img {
    width: 100%;
    margin: 40px 0; }
  @media (min-width: 760px) {
    .logo {
      position: fixed;
      width: 25.46875%;
      padding: 0 3.90625%; }
      .logo img {
        margin: 186px 0 0 0; } }

.site-body {
  width: 80%;
  padding: 0 10%;
  background-color: #fff; }
  .site-body img {
    width: 100%; }
  @media (min-width: 760px) {
    .site-body {
      width: 54.21875%;
      padding: 0 6.25%;
      float: right; } }

nav {
  font-family: "ColfaxWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-top: 8px; }
  nav li {
    padding: 16px 0; }
  nav a {
    color: #02203c;
    text-decoration: none; }
    nav a:hover {
      padding-bottom: 6px;
      border-bottom: 1px solid #99a5b0; }
  @media (min-width: 760px) {
    nav {
      font-size: 14px;
      margin-top: 80px; }
      nav li {
        float: left;
        padding: 0 18px 0 0; } }
  @media (min-width: 1000px) {
    nav li {
      padding: 0 34px 0 0; } }

.social-links {
  font-size: 24px; }
  .social-links li {
    padding: 16px 16px 16px 0;
    float: left; }
  .social-links a {
    color: #99a5b0; }
    .social-links a:hover {
      color: #02203c; }
  @media (min-width: 760px) {
    .social-links {
      font-size: 18px;
      position: absolute;
      top: 62px;
      right: 3%; } }

.main-section h3 {
  font-family: "ColfaxWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 40px 0;
  margin-top: 80px;
  border-top: 4px solid #02203c; }
.main-section h4 {
  font-family: "ColfaxWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 20px; }
.main-section p {
  margin-top: 20px; }
@media (min-width: 760px) {
  .main-section section {
    width: 88.472622%; }
  .main-section p, .main-section a {
    font-size: 20px; } }

.wheelhouse-intro {
  clear: both;
  border-top: 4px solid #02203c;
  padding: 30px 0;
  -webkit-font-smoothing: subpixel-antialiased; }
  .wheelhouse-intro h2 {
    font-family: "ColfaxWebThin", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px; }
  .wheelhouse-intro .announcement {
    color: #99a5b0;
    font-size: 14px; }
  .wheelhouse-intro p {
    margin-bottom: 18px; }
  .wheelhouse-intro a {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid #99a5b0; }
  @media (min-width: 760px) {
    .wheelhouse-intro {
      border: none;
      padding: 70px 0; }
      .wheelhouse-intro h2 {
        font-size: 39px; }
      .wheelhouse-intro .announcement p, .wheelhouse-intro .announcement a {
        font-size: 16px;
        width: 53.161593%;
        margin-top: 60px; } }
  @media (min-width: 1060px) {
    .wheelhouse-intro h2 {
      font-size: 48px; } }

.dogfish {
  padding: 40px 0;
  margin-top: 80px;
  border-top: 4px solid #02203c; }
  .dogfish img {
    width: 50%; }
  @media (min-width: 760px) {
    .dogfish {
      padding: 40px 0 30px 0; }
      .dogfish img {
        width: 25%; } }
