@font-face {
	font-family: 'ColfaxWebRegular';
	src: url('../webfonts/ColfaxWebRegular.eot');
	src: url('../webfonts/ColfaxWebRegular.eot?#iefix') format('embedded-opentype'), 
	     url('../webfonts/ColfaxWebRegular.woff') format('woff')
}
	
@font-face {
	font-family: 'ColfaxWebBold';
	src: url('../webfonts/ColfaxWebBold.eot');
	src: url('../webfonts/ColfaxWebBold.eot?#iefix') format('embedded-opentype'),
	     url('../webfonts/ColfaxWebBold.woff') format('woff')
}