$navy: #02203C;
$grey: #E0E4E8;
$secondarygrey: #99A5B0;
$colfax-bold: "ColfaxWebBold"  "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "ss-social";
@import "fonts";

body, html {
  background-color: $grey;
  position: relative;
}

h1 {
  text-indent: -9999px;
}

.logo {
  position: relative;
  width: 95%;
  margin: 0 auto;
  @media (min-width: 800px) {
		width: 66%;
	}
}

.logo-flag, .logo-text-fade {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo-image {
  position: absolute;
  width: 91%;
  top: 0;
  right: 0;
  z-index: 10;
}

.logo-text-fade {
  opacity: 0;
  -webkit-transition: opacity 4s ease 3s;
  transition: opacity 4s ease 3s;
}

.logo-image {
  opacity: 0;
  -webkit-transition: opacity 4s ease 3s;
  transition: opacity 2s ease 3s;
}


.show {
  opacity: 1;
}

.social-links {
  position: fixed;
  bottom: 40px;
  text-align: center;
  width: 100%;
  a {
    font-size: 28px;
    font-family: $colfax-bold;
    text-decoration: none;
    color: $secondarygrey;
    margin: 8px;
    -webkit-transition: all .2s ease-out;
    &:hover {
    	color: $navy;
    }
  }
}
