$navy: #02203C;
$grey: #E0E4E8;
$secondarygrey: #99A5B0;
$colfax-thin: "ColfaxWebThin", "Helvetica Neue", Helvetica, Arial, sans-serif;
$colfax-regular: "ColfaxWebRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$colfax-bold: "ColfaxWebBold", "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "reset";
@import "fonts";

body, html {
  height: 100%;
  position: relative;
  font-family: $colfax-regular;
  line-height: 1.5;
  color: $navy;
  background-color: $grey;
  -webkit-font-smoothing: antialiased;
}

p, a {
  color: $secondarygrey;
}

a {
  &:hover {
    color: $navy;
  }
}

.logo-area {
  width: 100%;
  @media (min-width: 760px) {
    position: fixed;
    height: 100%;
    width: 33.28125%;
    float: left;
  }
}

.logo-bg {
  width: 33.28125%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.about-bg {
  @media (min-width: 760px) {
    background: url(../images/sea-2.jpg) left bottom;
    background-size: cover;
  }
}


.mfk-bg {
  @media (min-width: 760px) {
    background: url(../images/MFK-2.jpg) left bottom;
    background-size: cover;
  }
}

.awol-bg {
  @media (min-width: 760px) {
    background: url(../images/awol-2.jpg) center bottom;
    background-size: cover;
  }
}

.penny-bg {
  @media (min-width: 760px) {
    background: url(../images/Penny-Dreadful-2.jpg) center top;
    background-size: cover;
  }
}

.stick-bg {
  @media (min-width: 760px) {
    background: url(../images/Stick-and-Chub-2.jpg) right top;
    background-size: cover;
  }
}

.love-bg {
  @media (min-width: 760px) {
    background: url(../images/original-love-1.jpg) right top;
    background-size: cover;
  }
}

.logo {
  padding: 0;
  z-index: 1000;
  .logo-flag-navy, .logo-flag-white {
    width: 80%;
    margin: 40px 0;
    padding: 0 10%;
  }
  
  @media (min-width: 760px) {
    .logo-flag-navy, .logo-flag-white {   
      position: absolute;   
      margin: 187px 0 0 0;
      width: 80%;
      padding: 0 10%;
    }
  }
}

.logo-flag-white {
    display: block;
  @media (min-width: 760px) {
    z-index: 1000;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
}

.site-body {
  width: 80%;
  padding: 0 10%;
  background-color: #fff;
  img {
    width: 100%;
  }
  @media (min-width: 760px) {
    width: 54.21875%;
    padding: 0 6.25%;
    float: right;
  }
}

nav { 
  font-family: $colfax-bold;
  font-size: 16px;
  margin-top: 8px;
  li {
    padding: 16px 0;
  }
  a {
    color: $navy;
    text-decoration: none;
    &:hover {
      padding-bottom: 6px;
      border-bottom: 1px solid $secondarygrey;
    }
  }
  @media (min-width: 760px) {
    font-size: 14px;
    margin-top: 80px;
    li {
      float: left;
      padding: 0 18px 0 0;
    }
  }
  @media (min-width: 1000px) {
    li {
      padding: 0 34px 0 0;
    }
  }
}

.social-links {
  font-size: 24px;
  li {
    padding: 16px 16px 16px 0;
    float: left;
  }
  a {
    color: $secondarygrey;
    &:hover {
      color: $navy;
    }
  }
  @media (min-width: 760px) {
    font-size: 18px;
    position: absolute;
    top: 62px;
    right: 3%;
  }
}

.main-section {
  section {
    margin-bottom: 80px;
  }
  h3 {
    font-family: $colfax-bold;
    font-size: 12px;
    text-transform: uppercase;
    padding: 40px 0;
    margin-top: 80px;
    border-top: 4px solid $navy;
  }
  h4 {
    font-family: $colfax-bold;
    margin-top: 12px;
  }
  p {
    margin-top: 14px;
  }
  @media (min-width: 760px) {
    section p, section h4 {
      width: 88.472622%;
    }
    p, a {
      font-size: 20px;
    }
  }
}

.wheelhouse-intro {
  clear: both;
  border-top: 4px solid $navy;
  padding: 30px 0;
  -webkit-font-smoothing: subpixel-antialiased;
  h2 {
    font-family: $colfax-thin;
    font-size: 28px;
  }
  .announcement {
    color: $secondarygrey;
    font-size: 14px;
  }
  p {
    margin-bottom: 18px;
  }
  a {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid $secondarygrey;
  }
  @media (min-width: 760px) {
    border: none;
    padding: 70px 0;
    h2 {
      font-size: 36px;
    }
    .announcement p, .announcement a {
      font-size: 16px;
      width: 53.161593%;
      margin-top: 60px;
    }
  }
  @media (min-width: 1060px) {
    h2 {
      font-size: 44px;
    }
  }
}

.dogfish {
  padding: 40px 0;
  margin-top: 80px;
  border-top: 4px solid $navy;
  img {
    width: 50%;
  }
  @media (min-width: 760px) {
    padding: 40px 0 30px 0;
    img {
      width: 25%;
    }
  }
}

.show {
  opacity: 1;
}